@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans Light'), url("/findwork/static/fonts/FiraSans-Light.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url("/findwork/static/fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url("/findwork/static/fonts/FiraSans-Medium.woff") format('woff');
}

img.logo {
    margin-right: 20px;
    max-width: 100%;
}
@media (min-width: 500px) {
    img.logo {
        float: left;
    }
}
div.clear {
    clear: both;
}
body {
    background-color: #fff;
    font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 820px;
}
@media (min-width: 992px) {
    body {
        margin-left: 18%;
    }
}
p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.narrow {
    padding-left: 5px;
    padding-right: 5px;}
.header {
    padding: 10px;
}
li {
    max-width: 580px;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

li {
    margin-bottom: .5em;
}
ul {
    padding-left: 30px;
}

h1 {
    font-size: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}
h2 {
    font-weight: 500;
    font-size: 30px;
}
h3 {
    font-weight: 500;
}



p.pitch {
    font-size: 24px;
    font-weight: 300;
}
@media (min-width: 992px) {
    p.pitch {
        font-size: 24px;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: left;
    }
}

p.footer {
    padding: 3em;
    font-size: small;
}

img {
  border: 0;
}
.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {.container {
    width: 750px;
  }}
@media (min-width: 992px) {.container {
    width: 970px;
  }}
@media (min-width: 1200px) {.container {
    width: 1170px;
  }}


div.tabStrip {
    width: 100%;
    display: flex;
}
span.tab {
    flex: 1;
    background-color: #F7F7F7;
    text-align: center;
    border: black solid 1px;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
span.activeTab {
    flex: 1;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-bottom: none 1px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
div.tabBody {
    padding: 2em;
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-top: none 1px;
}
div.tabStrip a:focus,
div.tabStrip a:hover {
    text-decoration: none;
}

div.tabHeader {
    display: flex;
}
div.tabHeaderText {
    flex: 3;
}
div.tabHeaderOptions {
    flex: 1;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

div.shortCategory,
div.tabAllIssues {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border-top: 0.25em solid #428bca;
}
div.tabAllIssues {
    padding-top: 0.6em;
}
div.tabCategory {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-top: 0.6em;
    border-top: 0.25em solid #428bca;
}
div.issue {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-top: 1.2em;
    border-top: 0.1em solid #428bca;
}

span.issueMore {
    display: block;
    font-size: 18px;
    text-decoration: underline;
    width: 2em;
    margin-top: -1em;
    cursor: pointer;
    color: #428bca;
}
span.issueMore:hover {
    color: #2a6496;
}

div.issueLabels {
    margin-top: 0.6em;
}
span.issueLabel {
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 0.4em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    margin: 0.3em;
    font-size: small;
}
